@font-face {
    font-family: "C64";
    src: url("fonts/Commodore-64-v6.3.TTF") format("truetype");
}

body,
button,
input,
select,
optgroup,
textarea {
    color: $color__text-main;
    font-family: "C64", $font__main;
    @include font-size(1);
    line-height: $font__line-height-body;
    text-rendering: optimizeLegibility;
}

@import "headings";

@import "copy";
