$color__background-body: #0000AA;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #0000AA;
$color__link-visited: #cc44cc;
$color__link-hover: #0088FF;
$color__text-main: #6b717f;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$black: #000000;
$white: #ffffff;
$red: #880000;
$cyan: #aaffee;
$violet: #cc44cc;
$green: #00cc55;
$blue: #0000AA;
$yellow: #eeee77;
$orange: #dd8855;
$brown: #664400;
$light-red: #ff7777;
$dark-grey: #333333;
$grey: #777777;
$light-green: #aaff66;
$light-blue: #0088FF;
$light-grey: #bbbbbb;